{%extends 'base.html'%}
{%block body%}
<div class="page-header" style="padding-top: 60px;">
<div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form" method="get" action="/search_name">
            <div class="form-group">
            <input name="name" type="text" placeholder="名称" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">搜索</button>
            </form>
</div>
</div>
<!-- 发布会列表 -->
<div class="row">
    <div class="col-md-6">
    <table class="table table-striped">
    <thead>
    <tr>
    <th>id</th><th>名称</th><th>状态</th><th>地址</th><th>时间</th>
    </tr>
    </thead>
    <tbody>
        {% if event_list %}
    {% for event in event_list %}
    <tr>
    <td>{{ event.id }}</td>
    <td>{{ event.name }}</td>
    <td>{{ event.status }}</td>
    <td>{{ event.address }}</td>
    <td>{{ event.start_time}}</td>
    </tr>
    {% endfor %}
    {%else%}
    <tr>
        <td>
            还没有</td>
    </tr>
    {% endif %}
</tbody>
</table>
</div>
</div>
{%endblock%}

  