{%extends 'base.html'%}
{%block body%}
<div class="page-header" style="padding-top: 60px;">
<div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form" method="get" action="/search_name">
            <div class="form-group">
            <input name="name" type="text" placeholder="名称" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">搜索</button>
            </form>
</div>
</div>
<!-- 发布会列表 -->
<div class="row">
    <div class="col-md-6">
    <table class="table table-striped">
    <thead>
    <tr>
    <th>id</th><th>名称</th><th>状态</th><th>地址</th><th>时间</th>
    </tr>
    </thead>
    <tbody>
        {% if event_list %}
    {% for event in event_list %}
    <tr>
    <td>{{ event.id }}</td>
    <td>{{ event.name }}</td>
    <td>{{ event.status }}</td>
    <td>{{ event.address }}</td>
    <td>{{ event.start_time}}</td>
    </tr>
    {% endfor %}
    {%else%}
    <tr>
        <td>
            还没有</td>
    </tr>
    {% endif %}
</tbody>
</table>
</div>

    
</div>
{%endblock%}

{%block script%}
<div id="app">
        <h1>库存信息</h1>
        {% verbatim %} 
        <ul>
        <li v-for="product in products">
            {{product.name}}-
            <input type="text" v-model.number="product.quantity">
            
            <span v-if="product.quantity==0">
                已经售空
            </span>
            <button @click="product.quantity+=1">增加库存</button>
            <button v-on:click="commit" id="f">提交</button>

        </li>
        </ul>

        <button v-on:click="bb">点击</button>
        <h2>库存总量:{{totalQuantity}}台</h2>
        {% endverbatim %}
        </ul>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                products:[
                {"id":1,"name":'iPhoe X',"quantity":20,},
                {"id":2,"name":'华为',"quantity":0},
                {"id":3,"name":'小米 Mix3',"quantity":20}
                ]
            },
            computed:{
                totalQuantity(){
                    return this.products.reduce((sum,product)=>{
                        return sum+product.quantity
                    },0);
                }
            },
            methods:{

                bb:function(){
                    sum_kc=this.products[0].quantity
                    $.get('/event_manage/',{
                        'sum_kc':sum_kc
                    },function (data) { 
                        location.reload()
                     })
                },
                commit:function(){
                    alert($(this).attr('id'))
                }
            }
        });
    </script>
<script>

$(function () {
    $("#dd").click(function () { 
      
    alert('{{totalQuantity}}') 


     })

 })
</script>
{%endblock%}  